<a href="https://colab.research.google.com/github/Megha371131/AIML/blob/main/aimllabsheet1.ipynb" target="_parent"><img src="https://colab.research.google.com/assets/colab-badge.svg" alt="Open In Colab"/></a>

In [ ]:
#reverse of a list
l1=[1,2,3,4,5,6]
l1[::-1]

[6, 5, 4, 3, 2, 1]

In [ ]:
str1=input("Enter a name:")
str2=str1[::-1]

if str1==str2:
  print("it is a palindrome")
else:
  print("it is not a palindrome")

Enter a name:water
it is not a palindrome

In [ ]:
l1=[1,1,1,2,2,2,3,3,4,5,5,6,6,6,6,6,7]
l2=list(set(l1))

l2

[1, 2, 3, 4, 5, 6, 7]

In [ ]:
#slicing
l1=[1,2,3,4,5,6,7,8]
print(l1[:3])

[1, 2, 3]

In [ ]:
#random
import random
l1=[1,2,3,4]
print(l1[-1])

4

In [ ]:
import random
l1=[1,2,3,4]
random.shuffle(l1)
print(l1)

[1, 4, 3, 2]

In [ ]:
import random
n=random.randint(1,6)
n

4

In [ ]:
l1=[1,2,3]
l2=[4,5,6]
print(l1+l2)

[1, 2, 3, 4, 5, 6]

In [ ]:
list_1=[1,2,3,4]
print(list_1)
list_2=list_1.copy()
print(list_2)

[1, 2, 3, 4]
[1, 2, 3, 4]

In [ ]:
A=[1,3,2,4,5]
B=[5,6,7,3,6]
print(A)
print(B)
A.extend(B)
print(A)

[1, 3, 2, 4, 5]
[5, 6, 7, 3, 6]
[1, 3, 2, 4, 5, 5, 6, 7, 3, 6]

In [ ]:
#creating tuple with flot numbers
b=(6.5,5.9,2.0)
print(b)

(6.5, 5.9, 2.0)

In [ ]:
#creating tupl with strings
c=("one","two","three")
c

('one', 'two', 'three')

In [ ]:
#creting tuple multiple data types
mix=("hello",708,66.8,1,2)
mix

('hello', 708, 66.8, 1, 2)

In [ ]:
#accessing items of tuple
a=(1,2,3,4,"hello")
print(a[4])

hello

In [ ]:
#creating tuple with single element:
a=(5,)
print(a)
print(type(a))

(5,)
<class 'tuple'>

In [ ]:
#creating tuple with integer
a=(1,2,3,4,5)
print(a)

(1, 2, 3, 4, 5)

In [ ]:
#creating tuple with float numbers
b=(6.5,5.9,2.0)
print(b)

(6.5, 5.9, 2.0)

In [ ]:
#creating  tple with strings
c=("one","two","three")
c

('one', 'two', 'three')

In [ ]:
#creating tuple with multiple data types
mix=("hello",708,66.8,1,2)
mix

('hello', 708, 66.8, 1, 2)

In [ ]:
#accessing items of tuple
a=(1,2,3,4,"hello")
print(a[4])

hello

In [ ]:
#create a dictionary
a={
    "name":"joy" ,
    "age":23,
    "education":"engineer"
}
print(a)

{'name': 'joy', 'age': 23, 'education': 'engineer'}

In [ ]:
len(a)

3

In [ ]:
type(a)

dict

In [ ]:
x=a.keys()
x

dict_keys(['name', 'age', 'education'])

In [ ]:
y=a.values()
y

dict_values(['joy', 23, 'engineer'])

In [ ]:
z=a.items()
z

dict_items([('name', 'joy'), ('age', 23), ('education', 'engineer')])

In [ ]:
#example:
set1={1,2,3,4}
print(set1)

{1, 2, 3, 4}

In [ ]:
#3 duplicates nt allowd
set={1,2,3,4,5,6,7,1,1}
set

{1, 2, 3, 4, 5, 6, 7}

In [ ]:
len(set)

7

In [ ]:
type(set)

set

In [ ]:
def add():
  a=2
  b=3
  sum=a+b
  return sum
add()
print(add())

5